#!/usr/bin/make -f
# This file is part of OpenPanel - The Open Source Control Panel
# OpenPanel is free software: you can redistribute it and/or modify it 
# under the terms of the GNU General Public License as published by the Free 
# Software Foundation, using version 3 of the License.
#
# Please note that use of the OpenPanel trademark may be subject to additional 
# restrictions. For more information, please visit the Legal Information 
# section of the OpenPanel website on http://www.openpanel.com/



BUILD_ROOT=$(CURDIR)/debian/tmp
install:
	rm -rf ${BUILD_ROOT}
	mkdir -p ${BUILD_ROOT}/var/openpanel/modules/Pptpd.module
	install -m 755 action ${BUILD_ROOT}/var/openpanel/modules/Pptpd.module/action
	cp module.xml ${BUILD_ROOT}/var/openpanel/modules/Pptpd.module/module.xml
	cp *.png ${BUILD_ROOT}/var/openpanel/modules/Pptpd.module/
	install -m 755 verify ${BUILD_ROOT}/var/openpanel/modules/Pptpd.module/verify
	mkdir -p ${BUILD_ROOT}/etc/ppp/ip-down.d
	install -m 755 etc/ppp/ip-down.d/pptpd-nat ${BUILD_ROOT}/etc/ppp/ip-down.d/pptpd-nat
	mkdir -p ${BUILD_ROOT}/etc/ppp/ip-up.d
	install -m 755 etc/ppp/ip-up.d/pptpd-nat ${BUILD_ROOT}/etc/ppp/ip-up.d/pptpd-nat
	mkdir -p ${BUILD_ROOT}/var/openpanel/tools
	install -m 755 tools/pptpd-enable ${BUILD_ROOT}/var/openpanel/tools/pptpd-enable
	install -m 755 tools/pptpd-disable ${BUILD_ROOT}/var/openpanel/tools/pptpd-disable

build:
	mkmodulexml < module.def > module.xml
	convert -modulate 50,100,100 pptpd.png down_pptpd.png
binary-indep:

binary-arch binary: build install
	if [ -d debian/tmp ] ; then dh_install --sourcedir=debian/tmp ; fi
	dh_installdocs
	dh_installdeb
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build binary binary-arch binary-indep clean install
